*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Mono', monospace;
    background-color: #182d3d;
}

/*utilities*/
.container{
    max-width: 1100px;
    margin: 0 auto;
}

h3,
h4,
h5{
    color: whitesmoke;
}
header{
    background-color: #132431;
}

header img{
    width: 60px;
}

/* main */

main .container{
    display: flex;
    flex-wrap: wrap;
    
}
main li{
    list-style: none;
    text-align: center;
}
main li img{
    width: 162px;
}

main .box-dischi{
    background-color: #000000;
    flex-basis: calc(100%/3);

}


    
    
