<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milestone 2 json</title>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,500;0,600;1,400&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">

    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
    
    <div id="app">

        <header>

            <!-- BONUS (per la versione con vue):
            Attraverso una select e un’altra chiamata ajax, filtrare gli album per artista.
            Il filtraggio dovrà avvenire lato back-end. -->

            <div class="container">
        
                <div class="box-img">
                    <img src="../img/logo.png" alt="logo spotify">
                </div>

                <div class="selettore">

                    <select  v-model="filterArtist">
                        
                        <option value="all"
                            
                        >ALL</option>

                        <option v-for="artist in artists" :value="artist">
                    
                            {{artist}}
                        
                        </option>

                    </select>
                        
                        

                        
                        
                    


                    

                </div>
            </div>
        
            
        
        </header>

        <main>
            <section>
                <div class="container">
                    
                    
                    <div class="box-dischi"
                        v-for="items in albums" 
                    
                    >
                        <ul>
                        
    
                            <li><img :src="items.poster" alt="poster logo"></li>
    
                            <li><h4>{{items.title}}</h4></li> 
    
                            <li><h6>{{items.author}}</h6></li>
    
                            <li> <h5> {{items.year}}</h5></li>
                            
                            <li><h6>{{items.genre}}</h6></li>
                                    
                                
                        </ul>
                    </div>
                        
                    
                </div>
        
                
            </section>
        </main>
        
        


    </div>




    <!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="./js/tool.js"></script>
</body>
</html>